input {
  width: 80%;
  max-width: 800px;
  height: 60%;
  font-size: 30px;
}

ul.ui-autocomplete.ui-menu{
  font-size: 28px;
}

ul.ui-autocomplete.ui-menu li:nth-child(odd){
  background-color: grey;
}
ul.ui-autocomplete.ui-menu li:nth-child(even){
  background-color: darkgray;
}

ul.ui-autocomplete.ui-menu li:hover{
  color: white;
}

